/**
 * 后台样式表
 *
 * @author        shuguang <5565907@qq.com>
 * @copyright     Copyright (c) 2007-2013 cxrsoft. All rights reserved.
 * @link          http://www.cxrcms.com
 * @package       cxrCMS.style
 * @license       http://www.cxrcms.com/license
 * @version       v3.1.0
 */
* { word-wrap: break-word; outline: none; }
html { margin: 0; width: 100%; height: 100%; }
body { background: #FFF; text-align: center; overflow: auto; margin: 0 15px; }
body, td, input, textarea, select, button { color: #555; font: 12px Verdana, Lucida, Helvetica, Arial, "Microsoft Yahei", sans-serif; }
ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
a { color: #2366A8; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: none; }
em, cite, th { font-style: normal; font-weight: normal; font-size: 12px }
table { border-collapse: collapse; }
td, th { height: 25px; text-align: left; }
label { cursor: pointer; }
iframe { margin: 0; width: 100%; }
.clear { zoom: 1; }
.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.searchArea{padding: 1px;height:40px;}

/*定义新型浏览器特性*/
::-webkit-scrollbar{width:10px;height:10px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background-color:black}
::-webkit-scrollbar-track-piece{background:#FFF}
::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:2px;}
::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}
::-webkit-scrollbar-corner:vertical{background-color:#535353}
::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}
/*note form */
textarea, input[type="text"], input[type='password'], select { padding: 5px 2px; border: 1px solid; border-color: #666 #ccc #ccc #666; background: #F9F9F9; color: #333;  font-size: 14px}
.txt { width: 300px }
.tarea { height: 100px; width: 400px }
table { display: table; border-spacing: 2px; border-color: gray; width: 100% }
.content_list .tb_header { background: #eef3f7; height: 30px; line-height: 25px; padding-left: 5px; border-bottom: #d5dfe8 1px solid; border-top: #d5dfe8 1px solid; font-weight: bold }
.content_list .tb_header th { font-weight: bold; padding-left: 4px; }
.content_list td { border-bottom: #eee 1px solid; height: 30px; line-height: 25px; padding-left: 5px; }
.content_list tr.tb_list:hover { background: #FBFFE4; color: #333; }
.tb_title { font-weight: bold }
.custom_title { width: 100px; font-weight: bold; float: left }
.custom_content { float: left }
.form td { border-bottom: #eee 1px solid; height: 30px; line-height: 25px; padding-left: 5px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { border-color: #e1a531; -moz-box-shadow: 0 0 3px #e1a531; -webkit-box-shadow: 0 0 3px #e1a531; box-shadow: 0 0 3px #e1a531; outline: none; }
.right { float: right }
.left { float: left }
.container { padding: 9px 0 20px; text-align: left; }
#contentHeader h3{padding:0 0 10px; font-size:14px}
.tbTitle{background: #eef3f7; font-size:14px; font-weight:bold}
.action{padding:5px 0}
.action li{float:left; margin-right:5px}
.action li a{ background: #51B148; color: #FFF; font: bold 14px arial, sans-serif; padding: 0.15em 1em; text-transform: uppercase;   margin: 0; overflow: visible; width: auto; *width: 1;
cursor: pointer; padding:7px 20px; display:block }
.action li a:hover{ background: #00A3CF;}
.action li a.current{background: #00A3CF;}
.actionLink{ background: #51B148; color: #FFF; font: bold 14px arial, sans-serif; padding: 0.15em 1em; text-transform: uppercase;   margin: 0; overflow: visible; width: auto; *width: 1;
cursor: pointer; padding:5px 10px; display:inline-block }
.actionLink:hover{ background: #00A3CF;}
/*------------*/
.form_table td { border-bottom: #eee 1px solid; height: 30px; line-height: 25px; padding-left: 5px; }
.form_table td.tb_title { font-weight: bold }
.search .txt { width: 100px }
.button { -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #3079ED; background: #4D90FE; color: #FFF; font: bold 12px arial, sans-serif; padding: 0.15em 1em; text-transform: uppercase; height: 27px; line-height: 19px; margin: 0; overflow: visible; width: auto; *width: 1;
cursor: pointer }
.btnBlue{ border: border: 1px solid #3079ED; background: #DFEFFF; color: #FFF; }
.button .btnDefault{ border: border: 1px solid #3079ED; background: #4D90FE; color: #FFF; }
.operate, .submit { height: 45px }
#fileListWarp li{float:left; padding:3px 5px;}
/* 错误提示*/
.erro_div { padding: 5px; background: #FFFF80; border: 1px solid #C4C43C; }
.erro_div .error_message p { font-size: 14px; font-weight: bold; }
.erro_div .error_message li { padding: 5px 0 }
.answer_content { padding: 3px 0 3px 5px; color: #00F; background: #f3f3f3 }
.content_acl li { width: 100px; float: left; }
/* jquery 验证  */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }
.ui-dialog .formError { z-index: 5000; }
.ui-dialog .formError .formErrorContent { z-index: 5001; }
.ui-dialog .formError .formErrorArrow { z-index: 5006; }
.inputContainer { position: relative; float: left; }
.formError { position: absolute; top: 300px; left: 300px; display: block; cursor: pointer; text-align: left; }
.formError.inline { position: relative; top: 0; left: 0; display: inline-block; }
.ajaxSubmit { padding: 20px; background: #55ea55; border: 1px solid #999; display: none; }
.formError .formErrorContent { width: 100%; background: #ee0101; position: relative; color: #fff; min-width: 120px; font-size: 11px; border: 2px solid #ddd; box-shadow: 0 0 6px #000; -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; -o-box-shadow: 0 0 6px #000; padding: 4px 10px 4px 10px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; }
.formError.inline .formErrorContent { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; border: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; }
.greenPopup .formErrorContent { background: #33be40; }
.blackPopup .formErrorContent { background: #393939; color: #FFF; }
.formError .formErrorArrow { width: 15px; margin: -2px 0 0 13px; position: relative; }
body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow { margin: -2px 13px 0 0; }
.formError .formErrorArrowBottom { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; margin: 0px 0 0 12px; top: 2px; }
.formError .formErrorArrow div { border-left: 2px solid #ddd; border-right: 2px solid #ddd; box-shadow: 0 2px 3px #444; -moz-box-shadow: 0 2px 3px #444; -webkit-box-shadow: 0 2px 3px #444; -o-box-shadow: 0 2px 3px #444; font-size: 0px; height: 1px; background: #ee0101; margin: 0 auto; line-height: 0; font-size: 0; display: block; }
.formError .formErrorArrowBottom div { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; }
.greenPopup .formErrorArrow div { background: #33be40; }
.blackPopup .formErrorArrow div { background: #393939; color: #FFF; }
.formError .formErrorArrow .line10 { width: 15px; border: none; }
.formError .formErrorArrow .line9 { width: 13px; border: none; }
.formError .formErrorArrow .line8 { width: 11px; }
.formError .formErrorArrow .line7 { width: 9px; }
.formError .formErrorArrow .line6 { width: 7px; }
.formError .formErrorArrow .line5 { width: 5px; }
.formError .formErrorArrow .line4 { width: 3px; }
.formError .formErrorArrow .line3 { width: 1px; border-left: 2px solid #ddd; border-right: 2px solid #ddd; border-bottom: 0 solid #ddd; }
.formError .formErrorArrow .line2 { width: 3px; border: none; background: #ddd; }
.formError .formErrorArrow .line1 { width: 1px; border: none; background: #ddd; }

/*系统错误提示*/
#error { background: #333; width: 600px; margin: 0 auto; margin-top: 100px; color: #fff; padding: 10px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; text-align: left}
#error h1 { padding: 15px 10px; margin: 0; font-size: 18px; }
#error p { padding: 0 20px 20px 20px; margin: 0; font-size: 12px; }
#error .message,#error .redirect{padding: 0 20px 20px 10px; margin: 0; font-size: 16px;color:#FFFF00;}
#error img { padding: 0 0 5px 260px; }
#error .redirect a{text-decoration:none;font-size: 12px;color:#FFFF00;}
#error .redirect a:hover{text-decoration:underline;color:#FFF;}
